@import "../../shared/helper";

.home {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  > header {
    line-height: px(64);
    text-align: center;
    font-size: px(30);
    color: rgb(40, 175, 255);
    background: radial-gradient(at 50% 100%, rgba(24, 63, 118, 0.5), rgba(8, 22, 49, 1));
    border-bottom: 4px solid transparent;
    border-image: radial-gradient(at 50% 100%, rgb(40, 175, 255), rgb(0, 0, 0));
    border-image-slice: 100;
  }
  > main {
    flex: 1;
    padding-left: px(40);
    display: grid;
    grid-template:
      "box1 box2 box3"
      "box4 box5 box3" 200fr
      /426fr 648fr 452fr ;
    grid-column-gap: px(12);
    .sectionName {
      margin: px(10) 0;
      position: relative;
      color: $font-title-color;
      span {
        font-weight: bold;
        font-size: px(24);
        border-bottom: px(3) dashed $border-color;
      }
      button {
        position: absolute;
        right: 0;
        font-size: px(16);
        padding: 4px 12px;
        text-align: center;
        background-color: rgb(26, 139, 230);
        border-radius: 10px;
        border: none;
        a {
          color: rgb(254, 251, 252);
          text-decoration: none;
        }
      }
      &::before, &::after {
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: px(8);
        height: 50%;
        content: ' ';
        transform: skew(30deg);
        border: 1px solid $border-color;
      }
      &::before {
        left: -(px(20));
      }
      &::after {
        left: -(px(36));
      }
    }
    .componentName {
      margin: px(10) 0;
      color: $font-title-color;
      &::before{
        content: '';
        display: inline-block;
        width: px(4);
        background: $border-color;
        height: .8em;
        margin-right: px(4);
      }
    }
    .rectangleBorder {
      border: 1px solid $border-color;
      position: relative;
      box-shadow: 0 0 2px 0 rgb(13, 79, 148), inset 0 0 2px 0 rgb(15, 54, 105);
      box-shadow: 0 0 12px rgba(100,200,255,.5) inset;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        box-shadow:
                17px 0 0 -16px rgb(13, 79, 148),
                -17px 0 0 -16px rgb(13, 79, 148),
                0 17px 0 -16px rgb(13, 79, 148),
                0 -17px 0 -16px rgb(13, 79, 148),
                9px 0 0 -8px rgb(15, 54, 105),
                -9px 0 0 -8px rgb(15, 54, 105),
                0 9px 0 -8px rgb(15, 54, 105),
                0 -9px 0 -8px rgb(15, 54, 105);
      }
    }
    .circleBorder {
      position: relative;
      border: 2px solid $border-color;
      border-radius: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: linear-gradient(to bottom right, rgba(31, 115, 189, 0.5) , rgba(5, 21, 45, 0.5));
      &::before, &::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        animation: rotateCircle 5s ease-in-out infinite alternate;
      }
      &::before {
        border-top: 2px solid $border-color;
      }
      &::after {
        border-bottom: 2px solid $border-color;
      }
      @keyframes rotateCircle{
        100%{
          transform: rotate(360deg)
        }
      }
    }
    > .section1 {
      grid-area: box1;
      .eventNumber {
        display: flex;
        justify-content: space-between;
        > span {
          color: rgb(30, 143, 253);
          display: inline-block;
          height: px(52);
          &:not(:last-child) {
            font-size: px(36);
            width: px(40);
            text-align: center;
            line-height: px(52);
            font-weight: bold;
          }
          &:last-child {
            font-size: px(30);
            line-height: px(74);
          }
        }
      }
      .eventStatistics {
        margin: px(10) 0;
        padding: px(10) 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        .circleBorder {
          width: px(92);
          height: px(92);
          &::before, &::after {
            width: px(106);
            height: px(106);
          }
        }
        .eventStatisticsNumber {
          color: rgb(254, 251, 252);
          font-size: px(20);
          font-weight: bold;
        }
        .eventStatisticsTitle {
          color: rgb(30, 143, 253);
          font-size: px(16);
        }
      }
      .highFrequencyMatters {
        height: px(180);
      }
      .wordCloud {
        height: px(140);
      }
    }
    > .section2 {
      grid-area: box2;
      .mapChart {
        height: px(624);
      }
    }
    > .section3 {
      grid-area: box3;
      .comprehensiveGovernance {
        height: px(130);
        display: flex;
        flex-wrap: wrap;
        > div {
          flex-basis: 50%;
          display: flex;
        }
        .circleBorder {
          margin: px(8) px(10);
          min-width: px(42);
          height: px(42);
          &::before, &::after {
            width: px(52);
            height: px(52);
            position: absolute;
            border: 2px dotted $border-color;
            animation: rotateCircle 15s linear infinite;
          }
          .icon {
            color: rgb(26, 141, 228);
          }
        }
        .comprehensiveGovernanceItem {
          display: flex;
          flex-wrap: wrap;
          padding-left: px(12);
          .itemValue, .itemProportion, .itemTitle {
            height: px(32);
            line-height: px(32);
          }
          .itemValue, .itemProportion {
            font-size: px(20);
            font-weight: bold;
            color: rgb(30, 143, 217);
            padding-top: px(6);
          }
          .itemValue {
            flex: 2 1 0;
          }
          .itemProportion {
            flex: 3 1 0;
            text-align: right;
            padding-right: px(24);
            position: relative;
            .icon {
              position: absolute;
              height: 100%;
              right: 0;
              top: -px(12);
              margin: auto;
              &-up {
                color: rgb(229, 59, 43);
              }
              &-down {
                color: rgb(132, 151, 175);
              }
            }
          }
          .itemTitle {
            flex-basis: 100%;
            color: rgb(88, 107, 134);
            padding-bottom: px(12);
          }
        }
      }
      .lawEnforcement {
        height: px(180);
        .lawEnforcementContain {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .lawEnforcementItem {
            background-color: rgb(8, 24, 51);
            width: px(88);
            height: px(88);
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            .itemValue {
              flex-basis: 100%;
              font-size: px(24);
              color: rgb(254, 251, 252);
            }
            .itemTitle {
              flex-basis: 100%;
              color: rgb(88, 107, 134);
            }
          }
        }
        .lawEnforcementSum {
          padding: px(24) 0;
          font-size: px(24);
          color: rgb(30, 143, 217);
          text-align: center;
        }
        .circleBorder {
          background: radial-gradient(rgb(6, 20, 46), rgb(11, 63, 91));
          padding: px(10);
          &:before, &:after {
            display: none;
          }
        }
      }
      .marketSupervision {
        height: px(170);
      }
      .convenienceServices {
        height: px(140);
      }
    }
    > .section4 {
      grid-area: box4;
      .eventGrade {
        height: px(150);
        display: flex;
        align-items: flex-end;
        width: px(426);
        > div {
          height: px(24);
          position: relative;
          .tooltip {
            position: absolute;
            top: -(px(120));
            background-color: rgb(15, 31, 56);
            width: px(120);
            height: px(60);
            line-height: px(30);
            padding-left: px(12);
            &:before {
              content: '';
              height: px(60);
              position: absolute;
              top: px(60);
              left: 10px;
            }
            &:after {
              content: '';
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              position: absolute;
              top: px(60);
              left: 8px;
            }
            span:last-child {
              position: absolute;
              right: px(12);
            }
          }
        }
        .extraUrgent {
          color: rgb(168, 61, 51);
          background-color: rgb(168, 61, 51);
          border-bottom-left-radius: px(12);
          border-top-left-radius: px(12);
          .tooltip {
            &:before {
              border: 1px solid rgb(168, 61, 51);
            }
            &:after {
              background-color: rgb(168, 61, 51);
            }
          }
        }
        .urgent {
          color: rgb(202, 137, 37);
          background-color: rgb(202, 137, 37);
          .tooltip {
            &:before {
              border: 1px solid rgb(202, 137, 37);
            }
            &:after {
              background-color: rgb(202, 137, 37);
            }
          }
        }
        .general {
          color: rgb(20, 78, 161);
          background-color: rgb(20, 78, 161);
          border-bottom-right-radius: px(12);
          border-top-right-radius: px(12);
          .tooltip {
            &:before {
              border: 1px solid rgb(20, 78, 161);
            }
            &:after {
              background-color: rgb(20, 78, 161);
            }
          }
        }
      }
    }
    > .section5 {
      grid-area: box5;
      padding-left: px(40);
      .eventCoordination {
        height: px(150);
        display: flex;
        table {
          display: table;
          width: px(340);
          border-collapse: collapse;
          thead {
            height: px(30);
            color: rgb(36, 141, 216);
            font-size: px(16);
            background-color: rgb(21, 39, 61);
          }
          tbody {
            color: rgb(88, 107, 134);
            font-size: px(12);
            tr {
              border-bottom: 1px solid rgb(88, 107, 134);
            }
            td:nth-child(1), td:nth-child(3) {
              text-align: center;
            }
          }
        }
        .coordinationChart {
          height: px(150);
          width: px(270);
        }
      }
    }
  }
}