@import "../../shared/helper";

.home {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  > header {
    line-height: px(63);
    text-align: center;
    font-size: px(30);
    color: rgb(40, 175, 255);
    background: radial-gradient(at 50% 100%, rgba(24, 63, 118, 0.5) 60%, rgba(7, 21, 48, 0.5));
    border-bottom: 4px solid transparent;
    border-image: radial-gradient(at 50% 100%, rgb(40, 175, 255), rgb(0, 0, 0));
    border-image-slice: 100;
  }
  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 637fr
      "box4 box5 box6" 236fr
      /426fr 648fr 452fr ;
    grid-gap: px(12);
    .sectionName {
      position: relative;
      color: $font-title-color;
      padding: 0 px(36);
      margin-left: px(8);
      span {
        font-size: px(24);
        border-bottom: px(3) dashed rgb(29, 132, 212);
      }
      &::before, &::after {
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: px(8);
        height: 50%;
        content: ' ';
        transform: skew(30deg);
        border: 1px solid rgb(28, 149, 234);
      }
      &::before {
        left: 0;
      }
      &::after {
        left: px(16);
      }
    }
    > .section1 {
      grid-area: box1;
    }
    > .section2 {
      grid-area: box2;
      background: lightgray;
    }
    > .section3 {
      grid-area: box3;
      background: lightblue;
    }
    > .section4 {
      grid-area: box4;
      background: lightcyan;
    }
    > .section5 {
      grid-area: box5;
    }
    > .section6 {
      grid-area: box6;
      background: lightgray;
    }
  }
}