@import "helper";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
::-webkit-scrollbar {display:none}
body {
  margin: 0;
  font-family: $font-hei;
  background: radial-gradient(ellipse closest-side, rgb(11, 39, 69), rgb(8, 22, 49));
}
#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.App {
  flex: 1;
}
.icon {
  width: px(24); height: px(24);
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: rgb(26, 141, 228);
}